/*  your css code here. If applicable */
.p1{
	background-color: #eee;
	font-family: Arial;
	font-size:20px;
	color: #00f;
}

.p3{
	background-color: #eee;
	font-family: Arial;
	font-size:20px;
	color: #00f;
}